body{
	background-image: url("background.jpg");
	font-family: 'Comfortaa', cursive;
	font-size: 15px;
	width: 900px;
	margin: auto;
}

nav{
	float: left;
	height: 60px;
	width: 100%;
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background-color: white;
	margin-bottom: 2px;
}
.navElem{
	padding: 10px;
	float: left;
	height: 40px;
	font-size: 15px;
	width: auto;
	border-radius: 8px;
}
.navElem:hover{
	background-color: #f0f0f0;
}
.navIcon{
	padding-right: 5px;
	height: 40px;
	width: auto;
	vertical-align: middle;
	border-radius: 8px;
}


a{
	display: block;
	color: black;
	text-decoration: none;
	float: left;
}
a.link{
	color: blue;
}
a.link:hover{
	color: red
}

#logo{
	margin: 5px;
	border: 1px solid;
	border-radius: 100%;
	height: 70px;
	width: auto;
	vertical-align: middle;
}

#titulo{
	font-weight: bold;
	font-size: 55px;
	height: auto;
	width: auto;
	float: left;
}


#contenedor{
	float: left;
	padding: 15px;
	height: auto;
	width: 100%;
	border-radius: 8px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background-color: white;
	margin-bottom: 2px;
}


#footer{
	float: left;
	width: 100%;
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background-color: white;
}

iframe{
	width: 480px;
	height: 270px;
}

#gifGit{
	width: 200px;
	height: auto;
}