body{
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-color: #EFEFEF;
	font-family: 'Comfortaa', cursive;
	font-size: 15px;
	width: 850px;
	margin: auto;
}

nav{
	height: auto;
	padding: 10px;
	margin-top: 3px;
	border-radius: 8px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background-color: white;
}
#navHeader{
	float: right;
}
.navElem{
	padding: 10px;
	float: left;
	height: 40px;
	font-size: inherit;
	width: auto;
	border-radius: 8px;
}
.navElem:hover{
	background-color: #f0f0f0;
}
.navIcon{
	padding-right: 5px;
	height: 40px;
	width: auto;
	vertical-align: middle;
	border-radius: 8px;
}

a{
	display: block;
	color: black;
	text-decoration: none;
	float: left;
}
a.link{
	color: blue;
}
a.link:hover{
	color: red;
}

#logo{
	margin: 5px;
	border: 1px solid;
	border-radius: 100%;
	height: 70px;
	width: auto;
	vertical-align: middle;
}

#titulo{
	font-weight: bold;
	font-size: 55px;
	height: auto;
	width: auto;
	float: left;
}


#contenedor{
	float: left;
	padding: 15px;
	height: auto;
	border-radius: 8px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background-color: white;
	margin-bottom: 3px;
	margin-top: 5px;
}


#footer{
	float: left;
	height: auto;
	margin-top: 2px;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background-color: white;
}

iframe{
	width: 480px;
	height: 270px;
}

#gifGit{
	width: 200px;
	height: auto;
}

.codigo{
	font-family: monospace;
	background-color: #F7F7F7;
	width: auto;
	padding: 15px;
	border-radius: 8px;
}

img.capturas{
	width: auto;
	max-width: 80%;
	margin: 5%;
	height: auto;
	vertical-align: middle;
	border-radius: 8px;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

#formulario{
	padding: 5%;
	background-color: #F2F2F2;
	border: 1px solid #000000;
	border-radius: 8px;
}

input[type=text], textarea{
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid #000000;
	border-radius: 8px;
	margin-top: 1%;
	margin-bottom: 5%;
}

#boton {
	min-width: auto;
	width: 15%;
	margin: auto;
}
input[type=submit]{
	background-color: white;
	width: 100%;
	padding: 3px;
	border-radius: 8px;
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
}
input[type=submit]:hover {
	border: 2px solid #000000;
	background-color: #3399FF;
	box-shadow: 0px 0px 5px 0px #000000;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 5em;
    text-decoration: none;
    color: #000000;
    background-color: #C0C0C0;
    font-size: 12px;
    padding: 1em;
    display: none;
    border: 1px solid #000000;
    border-radius: 8px;
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
}

.back-to-top:hover {    
    background-color: #3399FF;
	box-shadow: 0px 0px 5px 0px #000000;
}